{{#each labels as |label|}}
    <td>
        {{get user label}}
        {{#if isActive}}
          {{input value=(mut (get user label))}}
        {{/if}}
    </td>


{{/each}}
  <td>
      {{#if isActive}}
      <span>
        <button class="btn btn-default" {{action 'delete' user.id}}>Usuń użytkownika</button>
        <button class="btn btn-default" {{action 'close'}}>Zamknij</button>
      </span>
      {{else}}
        <button class="btn btn-default" {{action 'open'}}>Edytuj</button>
      {{/if}}
  </td>