{{#search-user filter=(action 'filterBylastname') as |model|}}
  <div class="row">
      <table class="table table-bordered table-striped user-table">
          <thead>
          <tr>
              <th>Imię</th>
              <th>Nazwisko</th>
              <th>Data urodzenia</th>
              <th>Pesel</th>
              <th>Miasto</th>
              <th>Telefon</th>
              <th>Email</th>
              <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>{{input value=name class="form-control"}}</td>
              <td>{{input value=lastname class="form-control"}}</td>
              <td>{{input value=birthdate class="form-control"}}</td>
              <td>{{input value=personalin class="form-control"}}</td>
              <td>{{input value=city class="form-control"}}</td>
              <td>{{input value=phone class="form-control"}}</td>
              <td>{{input value=email class="form-control"}}</td>
              <td><button class="btn btn-default" {{action 'addUser'}}>Dodaj</button></td>
          </tr>
            {{#each model as |user|}}
                {{user-profile user=user delete=(action 'deleteUser')}}
            {{/each}}
          </tbody>
      </table>
  </div>
{{/search-user}}